.plan-box-container{
    margin: 50px 0 26px;
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: auto;
    padding: 20px 20px;
    margin-bottom: 16px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    flex-flow: column nowrap;
}

.plan-box{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.plan-box > header {
    padding-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
}
.plan-free-time-box{
    display: flex;
}

.free-time{
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    display: inline-block;
    font-weight: 900;
    margin-bottom: 10px;
    margin-block: 0px 10px;
    background-color: rgb(46, 119, 208);
    color: rgb(255, 255, 255);
    margin-right: 4px;
}

.pre-paid{
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    display: inline-block;
    font-weight: 900;
    margin-bottom: 10px;
    margin-block: 0px 10px;
    border: 1px solid rgb(46, 119, 208);
    color: rgb(46, 119, 208);
}

.plan-name{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin: 0px 0px 5px;
    padding: 0px;
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.25px;
}

.plan-box header > p {
    margin: 0 0 2px;
}
.plan-advantages{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 32px 0 16px 0;
}

.plan-advantages > li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.plan-advantage-icon {
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.plan-button{
    box-sizing: border-box;
    border: 0px none;
    border-radius: 500px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    transform: translate3d(0px, 0px, 0px);
    padding: 17px 48px;
    position: relative;
    background-color: rgb(29, 185, 84);
    color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 16px;
}

.plan-button:hover {
    background-color: #1ED760;
    cursor: pointer;
    transform: scale(1.04);
}

.plan-box footer {
    margin: .5em 0 1em;
    color: rgb(83, 83, 83);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    padding: 14px 0px 28px;
}

.plan-btn-container{
    max-width: 100%;
}
.plan-agreements{
    max-width: 100%;
    margin: .5em 0 1em;
    color: rgb(83, 83, 83);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    padding: 14px 0px 28px;
}
@media (min-width: 1200px) {
    .plan-box-container{
        max-width: 23.5%;
    }
    .plan-free-time-box{
        flex-direction: column;
        width: 100%;
    }
    .plan-box > header{
        height: 212px;
    }
    .plan-advantages {
        height: 490px;
        margin-bottom: 10px;
    }
    .plan-advantages > li {
        align-items: flex-start;
    }

}